.position_btn{
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    gap: 8px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 5px;
}